<app-header></app-header>
<!-- <app-header [strrecived]="strArrays" ></app-header> -->
<!-- 
<div>
  <div *ngFor= "let strArray of strArrays; let i =index">
    <div *ngIf= "i % 2==0"></div>
    {{strArray}}
</div>  -->


 <!-- <div>
  <div *ngFor= "let strArray of strArrays">
    <div *ngIf="strArrays.length > 5"></div>
{{strArray}}
</div>  -->

<!-- <div class="container">
<div *ngFor= "let numArray of numArrays">
  {{numArrays}}
</div>
<div *ngFor= "let numArray of strArrays">
  {{strArrays}}
</div>
</div>
 -->

<!-- <div class="container">
  <input name="firstname" [(ngModel)]= "fname">
  <p>{{fname}}</p>
</div>
<div class="container">
  <textarea name="address" [(ngModel)]= "aname"></textarea>
  <p>{{aname}}</p>
</div>
<div *ngIf= "able">
  <p>Some text</p>
</div>
-->
<!-- <div class="container">
  <input name="getnumber" [(ngModel)]= "getnumber">
  <p>the number entered is: {{getnumber}}</p>
    <div *ngIf= "evenodd(); else logger">
    <p>Entered number id even</p>

    </div> 
</div> -->
<!--
<app-coffeeshopeheader></app-coffeeshopeheader>
<app-coffeeshopelogo></app-coffeeshopelogo>
<app-coffeeshopecarausal></app-coffeeshopecarausal>
<app-coffeefooter></app-coffeefooter>


<div class="container">
  <label>First name</label>
  <input type="text" name="firstname" value={{fname}}> 
</div>
<br>
<div class="container">
  <label>Last name</label>
  <input type="text" name="lastname" value={{lname}}> 
  <br><br>
  <button class="btn btn-primary" (click)="fillname()">Fill name</button>
</div>
<br><br>

<table class="table">
  <thead>
    <tr>
      <th scope="col"></th>
      <th scope="col">Firstname</th>
      <th scope="col">Lastname</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th scope="row">></th>
      <td {{fname}}></td>
      <td {{lname}}></td>
    </tr>
    
  </tbody>
</table>



<img [src] = "imgUrl">
<br><br>
<div class="container">
  <button class="btn btn-primary" (click)="counterval()">click me</button>
  <p>{{count}}</p>
</div>

<div class="container">
  <label>First name</label>
  <input name="firstname" value={{fname}}> 
  <button class="btn btn-primary" (click)="fillname()">Fill name</button>
</div> -->
