<app-react-forms></app-react-forms>
<app-reactive-address-form></app-reactive-address-form>
<!-- <form>
  From:<input type="date" name="fromdate" #from id="fromdate"><br><br>
  To: <input type="date" name="todate" #to id="todate"><br><br>
  Price : <input type="number" name="price" #price><br>
  <button type="submit" (click)="printDays(from.value, to.value, price.value)">submit</button>

</form> -->



<!-- <label>Enter the Number:</label>
<input type="number" name="num" [(ngModel)]="num"/>
<br><br>
<button type="button" class="btn btn-primary" (click)="multiplay(num)">Click</button>
<div *ngFor="let number of numberArray" index as i>
<p>{{num}}*{{+1}} = {{number}}</p>
</div> -->

<!-- <div class="container">
  <form #myForm="ngForm" (ngSubmit)="onSubmitForm(myForm.value)">
    <div class="mb-3">
      <label for="exampleInputEmail1" class="form-label">Email address</label>
      <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" name="email"[ngModel]="user.email" required>
      <div id="emailHelp" class="form-text">We'll never share your email with anyone else.</div>
    </div>
    <div class="mb-3">
      <label for="exampleInputPassword1" class="form-label">Password</label>
      <input type="password" class="form-control" id="exampleInputPassword1" name="password"[ngModel]="user.password" required>
    </div>
    <button type="submit" class="btn btn-primary"  [disabled]="!myForm.form.valid">Submit</button>
  </form>
</div> -->
<!-- <table class="table">
  <thead class="thead-dark">
    <tr>
      <th scope="col">id</th>
      <th scope="col">Name</th>
      <th scope="col">Username</th>
      <th scope="col">Address</th>
      <th scope="col">City</th>
      <th scope="col">Phone</th>
      <th scope="col">website</th>

    </tr>
  </thead>
  <tbody>
    
    <tr *ngFor="let data of jsondata">
      <td>{{data.id}}</td>
      <td>{{data.name}}</td>
      <td>{{data.username}}</td>
      <td>{{data.address.street}}</td>
      <td>{{data.address.city}}</td>
      <td>{{data.phone}}</td>
      <td>{{data.website}}</td>
    </tr>
  
  </tbody>
</table> -->


<!-- <form>
  <div class="mb-3">
    <label for="exampleInputEmail1" class="form-label">Email address</label>
    <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" [(ngModel)]= "email">
    <div id="emailHelp" class="form-text">We'll never share your email with anyone else.</div>
  </div>
  <div class="mb-3">
    <label for="exampleInputPassword1" class="form-label">Password</label>
    <input type="password" class="form-control" id="exampleInputPassword1" [(ngModel)]= "password">
  </div>
  <div class="mb-3 form-check">
    <input type="checkbox" class="form-check-input" id="exampleCheck1">
    <label class="form-check-label" for="exampleCheck1">Check me out</label>
  </div>
  <button type="submit" class="btn btn-primary" (click)= "getdata">Submit</button>
</form> -->
<!-- <p>{{getdate}}</p> -->
<!-- <p>{{getdata}}</p> -->
<!-- <app-addtocart></app-addtocart> -->
<!-- <app-header></app-header> -->
<!-- <app-header [strrecived]="strArrays" ></app-header> -->
<!-- 
<div>
  <div *ngFor= "let strArray of strArrays; let i =index">
    <div *ngIf= "i % 2==0"></div>
    {{strArray}}
</div>  -->
 <!-- <div>
  <div *ngFor= "let strArray of strArrays">
    <div *ngIf="strArrays.length > 5"></div>
{{strArray}}
</div>  -->

<!-- <div class="container">
<div *ngFor= "let numArray of numArrays">
  {{numArrays}}
</div>
<div *ngFor= "let numArray of strArrays">
  {{strArrays}}
</div>
</div>
 -->

<!-- <div class="container">
  <input name="firstname" [(ngModel)]= "fname">
  <p>{{fname}}</p>
</div>
<div class="container">
  <textarea name="address" [(ngModel)]= "aname"></textarea>
  <p>{{aname}}</p>
</div>
<div *ngIf= "able">
  <p>Some text</p>
</div>
-->
<!-- <div class="container">
  <input name="getnumber" [(ngModel)]= "getnumber">
  <p>the number entered is: {{getnumber}}</p>
    <div *ngIf= "evenodd(); else logger">
    <p>Entered number id even</p>

    </div> 
</div> -->
<!--
<app-coffeeshopeheader></app-coffeeshopeheader>
<app-coffeeshopelogo></app-coffeeshopelogo>
<app-coffeeshopecarausal></app-coffeeshopecarausal>
<app-coffeefooter></app-coffeefooter>


<div class="container">
  <label>First name</label>
  <input type="text" name="firstname" value={{fname}}> 
</div>
<br>
<div class="container">
  <label>Last name</label>
  <input type="text" name="lastname" value={{lname}}> 
  <br><br>
  <button class="btn btn-primary" (click)="fillname()">Fill name</button>
</div>
<br><br>

<table class="table">
  <thead>
    <tr>
      <th scope="col"></th>
      <th scope="col">Firstname</th>
      <th scope="col">Lastname</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th scope="row">></th>
      <td {{fname}}></td>
      <td {{lname}}></td>
    </tr>
    
  </tbody>
</table>



<img [src] = "imgUrl">
<br><br>
<div class="container">
  <button class="btn btn-primary" (click)="counterval()">click me</button>
  <p>{{count}}</p>
</div>

<div class="container">
  <label>First name</label>
  <input name="firstname" value={{fname}}> 
  <button class="btn btn-primary" (click)="fillname()">Fill name</button>
</div> -->
