
<input type="text"#newItem>
<div class="container">
    <div class="card-list">
		<div class="card">
			<img src=".././assets/imgs/latte-image.png">
			<div>
				<h5>Mocha</h5>
				<h6> 250</h6>
                <button type="button" class="btn btn-outline-dark" 
                (click)= "addNewItem(newItem.value)">Add To Cart</button>
			</div>
		</div>
        <div class="card-list">
            <div class="card">
                <img src=".././assets/imgs/mocha-image.png">
                <div>
                    <h5>Mocha</h5>
                    <h6> 250</h6>
                    <button type="button" class="btn btn-outline-dark" 
                    (click)= "addNewItem(newItem.value)">Add To Cart</button>
                </div>
                <div class="card-list">
        
                    
                   
                        

