

<!-- <p>{{dt.senddata()}}</p> -->
<!-- <button class="btn-primary" (click)="incriment()">Incriment</button> -->
<!-- <table class="table">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">Username</th>
        <th scope="col">email</th>
        <th scope="col">website</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor= "let products to products">
        <th scope="row">1</th>
        <td></td>
        <td></td>
        <td></td>
      </tr>
    </tbody>
  </table> -->
<!-- <app-products (newItemEvent)="incrementcounter($event)"></app-products>

<p>Cart:</p>
<p>{{count}}</p> -->

<!-- <div *ngFor="let strArray of strrecived">
    {{strArray}}

</div> -->
<!-- <app-footer [itemget]= "itemgo"></app-footer> -->
